<div class="well" id="title-well">
  <button class="btn btn-info" {{action 'toggleSidebar'}}>{{fa-icon "fa-bars"}} Menu</button><span><h2>Got Questions?!</h2></span>
</div>
{{outlet}}

<div class="ui sidebar inverted vertical menu">
  <a class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </a>
</div>
<div class="pusher">
  <!-- Site content !-->
</div>
