<div class="container">
  <div class="well">
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    <br>
    {{update-question question=model updateQuestion="updateQuestion"}}
  </div>
    {{add-answer}}
</div>
